<body>
  <div class="CV-container">
      <div class="container">
          <div class="topbar">
              <div class="title">
                  <h1>WENDEL SENA</h1>
                  <div class="title-line"></div> <!-- Linha sob o título -->
              </div>
              <div class="subtitle">
                  <h2>PROGRAMMER</h2>
              </div>
          </div>

          <div class="sidebar">
              <div class="image-container">
                  <img src="https://media.licdn.com/dms/image/D5603AQH_dibJd75ipQ/profile-displayphoto-shrink_400_400/0/1692841210190?e=1714608000&v=beta&t=7dhyPFuMQqBXplo9oLaa7MSwc0rCzw1_GTlTpq-A4PE"
                      alt="Wendel Sena/Linkedin">
              </div>
              <section>
                  <div class="contacts">
                      <h3>CONTACTS</h3>
                      <ul style="list-style-type: none; text-align:left;">
                          <li>
                              <img src="https://img.icons8.com/ios/50/FFFFFF/address--v1.png" alt="Ícone de localização" style="width: 20px; height: 20px; margin-top: 4px; margin-right: 3px;">
                              13308-112 N48
                          </li>
                          <li>
                              <img src="https://img.icons8.com/windows/32/FFFFFF/smartphone--v1.png" alt="Ícone de contato" style="width: 20px; height: 20px; margin-top: 4px; margin-right: 3px;">
                              +55 11956198430
                          </li>
                          <li>
                              <img src="https://img.icons8.com/ios/50/FFFFFF/new-post--v1.png" alt="Ícone de email" style="width: 20px; height: 20px; margin-top: 4px; margin-right: 3px;">
                              wendel4019&commat;gmail.com
                          </li>
                          <li>
                              <a href="https://github.com/Wendelsena">
                                  <img src="https://img.icons8.com/ios/50/FFFFFF/github--v1.png" alt="Ícone do github" style="width: 20px; height: 20px; margin-top: 4px; margin-right: 3px;">
                                  github.com/Wendelsena
                              </a>
                          </li>
                          <li>
                              <a href="https://linkedin.com/in/wendel-sena-315b05234">
                                  <img src="https://img.icons8.com/ios/50/FFFFFF/linkedin.png" alt="Ícone do linkedin" style="width: 20px; height: 20px; margin-top: 4px; margin-right: 3px;">
                                  linkedin.com/in/wendel-sena-315b05234
                              </a>
                          </li>
                      </ul>
                  </div>

                  <div>
                      <h3>EXPERTISE</h3>
                      <ul style="list-style-type: none; text-align:left;">
                          <li>java</li>
                          <li>Angular</li>
                          <li>HTML5</li>
                          <li>CSS4</li>
                          <li>TypeScript</li>
                      </ul>
                  </div>

                  <div class="education">
                      <h3>EDUCATION</h3>
                      <ul style="list-style-type: none; text-align:left;">
                          <li>
                              <h4>Análise e Desenvolvimento de Sistemas</h4>
                              <h5>Fatec - 3y</h5>
                          </li>
                          <li>
                              <h4>Advanced Java</h4>
                              <h5>Udemy - 55h</h5>
                          </li>
                          <li>
                              <h4>Introduction to Git and Version Control</h4>
                              <h5>Dio - 2h</h5>
                          </li>
                      </ul>
                  </div>
              </section>
          </div>
          <div class="profile">
              <h3>PROFILE</h3>
              <p>
                My name is Wendel, and I am 19 years old. I am deeply passionate about programming and computer science, with a particular focus on backend development.
                From a young age, I have been fascinated by the intricate workings of technology and its ability to transform our world.
                Programming allows me to channel that passion into creating innovative solutions and tackling complex challenges.
                As a backend developer, I thrive on the logical problem-solving aspects of programming.
                I enjoy delving into the backend infrastructure, optimizing performance, and ensuring the smooth functioning of applications.
                My dedication to excellence drives me to continually expand my knowledge and refine my skills in the dynamic field of software development.
              </p>
          </div>
          <div class="experience">
              <h3>EXPERIENCE</h3>
              <p>
                While I do not possess any formal employment experience at this time, I am earnestly seeking opportunities to embark on my professional journey.
                I am eager to immerse myself in the industry, collaborate with talented teams, and contribute to impactful projects.
                My enthusiasm for learning, coupled with my strong work ethic, positions me well to excel in any role I undertake.
                As I embark on this exciting chapter of my career, I am committed to leveraging my skills, embracing new challenges,
                and making meaningful contributions to the organizations I join.
                I am confident that my dedication and passion for programming will enable me to thrive in the ever-evolving landscape of software development.
              </p>
          </div>
      </div>
  </div>
</body>
