
<div class="container">
  <div class="topbar">
    <div class="title">
      <h1>WENDEL SENA</h1>
      <div class="title-line"></div> <!-- Linha sob o título -->
    </div>
    <div class="subtitle">
      <h2>PROGRAMMER</h2>
    </div>
  </div>

  <div class="sidebar">
  <section>
    <div>
      <h3>CONTACTS</h3>
      <ul>
        <li>STREET/CITY</li>
        <li>+00 (12) 34567-8910</li>
        <li>test&commat;gmail.com</li> <!-- &commat é o mesmo que @. -->

        <li>www.web.com</li>
        <li>linkedin/my</li>
      </ul>
    </div>

    <div>
      <h3>EXPERTISE</h3>
      <ul>
        <li>Teste 1</li>
        <li>Teste 2</li>
        <li>Teste 3</li>
        <li>Teste 4</li>
      </ul>
    </div>

    <div>
      <h3>EDUCATION</h3>
      <ul>
        <li>
          <h4>Enter my degree</h4>
          <h5>University/years</h5>
        </li>
        <li>
          <h4>Enter my degree</h4>
          <h5>University/years</h5>
        </li>
        <li>
          <h4>Enter my degree</h4>
          <h5>University/years</h5>
        </li>
      </ul>
    </div>
  </section>
</div>
<div>
  <div class="profile">
    <h3>PROFILE</h3>
  </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div class="experience">
      <h3>EXPERIENCE</h3>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
</div>
